@import "../../../../scss/index.scss";

.add-edit-post-form {
  text-align: center;
  
  .upload-avatar {
    display: table;
    margin: 0 auto;
    border: 2px solid #9a9a9a;
    border-style: dashed;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 20px;
  }
 
  .ant-form-item {
    margin-top: 5px;
    margin-bottom: 5px;
   
    i {
      color: rgba(0, 0, 0, 0.25);
    }
  }

  .tox-tinymce {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn-submit {
    width: 100%;
  }
}